//-----Font-------------------
p {
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 10px;
}

#size {
    font-size: 40px;
}

#white {
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    margin-right: 8px;
}

//---------Main--------------
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-image: url("images/sfondo.png");
    position: relative;
    border-radius: 30px;
    width: 550px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: contain;
}

//------container---------


.container {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    position: absolute;
    margin: 0 60px 20px 20px;
    bottom: -60px;
}


//----Buttons------

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    visibility: hidden;
    
    opacity: 0.7;
    margin: 10px;
    font-size: 20px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    &.big {
        width: 250px;
        font-size: 25px;
    }
}

.save {
    display: flex;
    position: absolute;
    visibility:hidden;
    top: -10px;
    right:45px;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 135px;
    height: 90px;
    border-radius: 60px;
}

//----Effects------------

main:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/sfondo.png");
}
    

main:hover .btn {
    cursor: pointer;
    visibility: visible;
    transform: translateY(-50px);
    transition:1s;
}

main:hover .save {
    cursor: pointer;
    visibility: visible;
    transform: translateY(40px);
    transition: 1s;
}
   
